$font-family: 'Inter', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 800;

$color-primary: #EFD558;
$color-primary-alt: #B89F26;
$color-secondary: #29393D;
$color-light: #F9F9F9;
$color-dark: $color-secondary;

$border-radius: 2px;